@charset "utf-8";
/* CSS Document */

.col-about{
 width:54vw;
 margin-top:30vh;
 padding-left:3vw;
 border-left:15px solid #68A2CF;
 background-color:#F0F0F0;
 height:auto;
}

.col-about h2{
    width:50vw;
    font-family:'Work Sans', Arial;
    font-weight:100;
    font-size:68px;
    margin:0;
}
@media (min-width:1200px) and (max-width:1400px){.col-about h2{font-size:5vw !important}}
@media (min-width:940px) and (max-width:1199px){.col-about{} .col-about h2{font-size:54px}}
@media (min-width:768px) and (max-width:939px){.col-about{} .col-about h2{font-size:50px}}
@media (max-width:767px){.col-about{width:76vw;} .col-about h2{font-size:54px}}

