/*!
 * Start Bootstrap
 */

body {
	margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	height: 100vw;
}

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.full {
    background-color:#fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.MainPortrait{
	display: block;
	position: relative;
	width: 100%;
	max-width: 120px;
	border-radius: 25%;
	margin-left: auto;
	margin-right: .5%;
	opacity: .9;
	-webkit-transition: max-width .5s, margin-top .5s; /* For Safari 3.1 to 6.0 */
	transition: max-width .5s, margin-top .5s;
	-webkit-box-shadow: 0px 0px 0px 0px #6F6F6F;
	box-shadow: 0px 0px 0px 0px #6F6F6F;
	padding: 0px;
}



#col-MainPortrait{
	margin-top: 1vw;
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: #a2b86c;
	width: 20vw;
	border-radius: 0 8px 8px 0;
	-webkit-box-shadow: 1px 2px 4px #707070;
	box-shadow: 1px 2px 4px #707070;
		-webkit-transition: width .5s, margin-top .5s; /* For Safari 3.1 to 6.0 */
	transition: width .5s, margin-top .5s;
}

#col-MainPortrait-text{
	padding-top: 1%;
	padding-bottom: 1%;
	border-radius: 0 8px 8px 0;
		-webkit-transition: width .5s, margin-top .5s; /* For Safari 3.1 to 6.0 */
	transition: width .5s, margin-top .5s;
}

#col-MainPortrait:hover{
	width:30vw;
}


#col-MainPortrait:hover .MainPortrait{
	max-width: 130px;
	opacity:1;

}

#row-MainPortrait{

}

#mainbio{
	text-align: left;
	}
	
#mainbioname{
	position:relative;
	text-align:left;
}

@media (min-width:992px){
	.MainPortrait{

}
}

@media (max-width:991px){
	.MainPortrait {
	display: block;
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	}
	#mainbioname{
	text-align:center !important;
}
}




#Placeholder{
	height:50px;
}
