/*!
 * Start Bootstrap
 */

body {
	margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.full {
    background: url('http://placehold.it/1920x1080') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#MainPortrait{
	max-width: 200px;
	-webkit-box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.53);
	border: 3px solid #626262;
	box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.53)
}
