@charset "utf-8";
/* CSS Document */

.container {
  padding-right: 1.5vw;
  padding-left: 1.5vw;
  margin-right: auto;
  margin-left: auto;
      width: 80vw;
	  max-width: 1000px;

}

.row {
	width:80vw;
 	margin-right: -1.5vw;
 	margin-left: -1.5vw;
 	padding:0vw
}

.col-top-row{
	margin-right: -5vw;
 	margin-left: -5vw;
	}

.section-box-H {
	padding-top: 100px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 75px;
	color: #CCCCCC;
	background-color: #5E7CB8;
	opacity: 1;
	-webkit-box-shadow: 0px 2px 1px 1px #9C9C9C;
	box-shadow: 0px 2px 1px 1px #9C9C9C;
}

  .col-lg-12,
  .col-lg-5,
  .col-lg-4,
  .col-lg-8,
  .col-lg-6, 
  .col-lg-4-bump,
  .col-lg-left,
  .col-lg-right,
  .col-span-head,
  .col-spacer,
  .col-md-spacer,
  .col-md-left,
  .col-md-right,
  .col-md-center{
  position: relative;
  min-height: 1px;
  padding-right: 0vw;
  padding-left: 0vw;
  float:left;
}

  .col-span-head{
	width: 100%;
	height: 30vw;
	max-height: 350px;
	border-radius: 2px;
	background-color: #F8F8F8;
	/*background-color: #84ADD8;*/
	margin-bottom: 0px;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.30), 0 2px 1px 0 rgba(0, 0, 0, 0.1);
  }

@media (min-width:935px) {
.section-box-H {

}

.section-box-0 {
	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 50px;
	color: #CCCCCC;
	opacity: 1;
	background-color: #CCCCCC;
}

.section-box-1 {
	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 0px;
	color: #CCCCCC;
	background-color:#6D9CDB;
	opacity: 1;
}

  .col-lg-left{
	  width:38vw;
	  height:38vw;
	  max-width: 450px;
	  max-height: 450px;
	  background-color:#F8F8F8;
	  margin-right:0px;
	  	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  }
  
    .col-lg-right{
	  width:38vw;
	  height:38vw;
	  max-width: 450px;
	  max-height: 450px;
	  background-color:#F8F8F8;
	  margin-right:0vw !important;
	  	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  }
  
    .col-md-left{
	  width:30%;
	  height:25vw;

	  max-height: 300px;
	  background-color:#F8F8F8;
	  margin-right:0px;
	  	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  }
  
      .col-md-center{
	  width:30%;
	  height:25vw;

	  max-height: 300px;
	  background-color:#F8F8F8;
	  margin-right:0vw !important;
	  	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  }
  
    .col-md-right{
	  width:30%;
	  height:25vw;

	  max-height: 300px;
	  background-color:#F8F8F8;
	  margin-right:0vw !important;
	  	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  }
  
    .col-md-spacer{
	  width:5%;
	  max-width:95px;
	  height:25vw;
	  max-height: 300px;
  }
  
  .col-top-row{

}
}

@media (max-width:934px){
.section-box-H {

}

.section-box-0 {
	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 50px;
	color: #FFFFFF;
	background-color:#CCCCCC;
	opacity: 1;
}

.section-box-1 {
	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 0px;
	color: #FFFFFF;
	opacity: 1;
	background-color:#6D9CDB;
}

	  .container {
    width: 80vw;
  }

	  .col-lg-left{
	  width:80vw;
	  background-color:#F8F8F8;
	  height:38vw;
	  margin-right:0vw;
	  margin-bottom:0px;
	  		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  
    .col-lg-right{
	  width:80vw;
	  background-color:#F8F8F8;
	  height:38vw;
	  margin-right:0vw !important;
	  		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
 
   .col-spacer{
	  width:80vw;
	  height:38vw;
	  	  max-height: 50px;
/*	  background-color:#000000*/
  } 
  
      .col-md-left{
	  width:47.5%;
	  height:30vw;
	  background-color:#F8F8F8;
	  margin-bottom:4vw;
	  	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  }
  
      .col-md-center{
	  width:47.5%;
	  height:30vw;
	  background-color:#F8F8F8;
	  margin-right:0vw !important;
	  	  margin-bottom:4vw;
	  	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  }
  
    .col-md-right{
	  width:100%;
	  height:30vw;
	  background-color:#F8F8F8;
	  margin-right:0vw !important;
	  	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  }
  
    .col-md-spacer{
	  width:5%;
	  height:30vw;
	  max-height: 450px;
  }
  
      #media-disappear{
		display:none;
  }
  
.col-top-row{

}
  }





.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #999;
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
