@charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Work+Sans:100);


.nav-hidden{
 display:none;
}




.container-home-a{
  position:absolute;
  display:block;
  z-index:0;
  bottom:0;
  top:0;
  height:100vh;
  width:100vw;
  transition:1.5s linear background-color}  

.bgnd-blue{
    background-color:#6890CF;} 
     
 .col-name{
  position:relative;
  display:block;
  padding-top:40vh;
     margin-left:auto !important;
     margin-right:auto !important;
     width:100%;
     height:100%;
  text-align:center;
     }   
    
.a-name{
 position:relative;
 font-family: 'Work Sans', sans-serif !important;
 font-size:6vw;
 letter-spacing:8px;
 line-height:auto;
 margin-top:0px;
 margin-bottom:0px;
 margin-left:-.1vw;
 margin-right:-.1vw;
 padding-bottom:1vw;
 padding-top:1vw;
 padding-left:.25vw;
  padding-right:.25vw;
 text-transform:uppercase;
 color:#6890CF;
 font-weight:100;
  transition:1.5s ease-in color, .6s ease-in margin-top;
}

.text-white{
color:#fff;
}

.a-name:hover{
 color:#6890CF;
 font-weight:100;
 transition:.2s linear color, .1s ease-out margin-top ;
 transition-delay:.1s;}
 

    