@charset "utf-8";
/* CSS Document */



.modal-trig-box{
  position:relative;
  overflow:hidden;
  height:50vh;
  padding:0px;
  border-radius:5px 5px 1px 1px;
  background-color:#fff;
  box-shadow:0px 1px 1px 0px #888;
  cursor:pointer;
   }
 .modal-trig-box h2{
   color:#fff;
   margin-top: 0px;
   padding:5px;
   border-radius:5px 5px 0 0;
   background-color:#6890CF;
   }
.img-modal-trig{
  position:relative;
  display:block;
   width:100%;
   margin-top:-1vh;}

.modal-img{
   width:100%;
}


.row-panels{
	margin-top:10vh;
}

@media (min-width:1199px){
   .row-panels{
  	margin-top:15vh;
	margin-left:-1vw;
	margin-right:-1vw;
}}

.panel-image {
		 cursor: pointer; 
}

.panel-image img.panel-image-preview {
    width: 100%;
	border-radius: 1px 1px 0px 0px;
}

.panel-heading ~ .panel-image img.panel-image-preview {
	border-radius: 0px;

}

.panel-image ~ .panel-body, .panel-image.hide-panel-body ~ .panel-body {
	overflow: hidden;
}
.panel-image ~ .panel-footer a {
	padding: 0px 10px;
	font-size: 1.3em;
	color: rgb(100, 100, 100);
}

.panel-image.hide-panel-body ~ .panel-body {
	height: 0px;
	padding: 0px;
	}
	
.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}



