@charset "utf-8";
/* CSS Document */


@media (min-width:1200px){
.resume-body{
width:80vw !important;
}}
@media (min-width:940px)and (max-width:1199px){
.resume-body{
width:85vw !important;
}}
@media (min-width:768px)and (max-width:939px){
.resume-body{
width:90vw !important;
}}
@media (min-width:0px) and (max-width:767px){
.resume-body{
   width:96vw !important;}
.resume-body > .box {
   padding:15px;}}


.resume-body h1{ font-family:gotham light;}

.resume-body h2,
.resume-body h3{ font-family:gotham book;}  
   
.resume-body h4,
.resume-body h5,
.resume-body p{
  font-family:gotham light;
   }  

.resume-body h1,
.resume-body h2,
.resume-body h3{
   color:#555;
   text-transform:uppercase; }
   
.resume-body h4{
   color:#777; }
   
.resume-body h5{
   color:#777; }

.resume-body h1{
  margin-top:20px;
  margin-bottom:20px;}
.resume-body h2{
  margin-top:0px;
  margin-bottom:1px;}
.resume-body h3{
  margin-top:0px;
  margin-bottom:1px;}
.resume-body h4{
  margin-top:0px;
  margin-bottom:2.5px;
   }
.resume-body h5{
  margin-top:0px;
  margin-bottom:2.5px;
   }
   
.resume-body p{
   margin-top:5px;
   margin-bottom:15px}

@media (min-width:1200px){
.resume-body h3,
.resume-body h4,
.resume-body h5{
  line-height:20px;
  font-size:18px;}
  
.resume-body h5{
   font-style:italic}

.resume-body h1{
   line-height:66px;
   font-size:60px;}

.resume-body h2{
   line-height:40px;
   font-size:28px;}

.resume-body p{
    color:#777;
    font-size:14px;
    line-height:20px;
}

.resume-body > .box {
padding:10px;
}
}

@media (min-width:940px) and (max-width:1199px){
.resume-body h1{
   line-height:52px;
   font-size:48px;}}
@media (min-width:768px) and (max-width:939px){
.resume-body h1{
   line-height:46px;
   font-size:42px;}}
@media (min-width:0px) and (max-width:767px){
 .resume-body h1{
   line-height:46px;
   font-size:25px;} }


@media (min-width:768px) and (max-width:1199px){
.resume-body h2{
   line-height:40px;
   font-size:24px;} 
   
.resume-body h3,
.resume-body h4,
.resume-body h5{
  line-height:20px;
  font-size:12px;}
  
.resume-body h5{
   font-style:italic}
   
.resume-body p{
    color:#777;
    font-size:14px;
    line-height:20px;}

.resume-body > .box {
padding:10px;
}}

@media (min-width:0px) and (max-width:767px){
#resume-name-box{
  display:flex;
   width:48%;
   height:150px;
   margin-bottom:40px;
}
#resume-contact-box{
   width:44%;
   height:150px;
}
#resume-contact-box h4{
font-size:2.2vw;
}
.resume-body h1{
   position:relative;
   display:block;
   line-height:8vw;
   font-size:7vw;
   margin-top:auto;
   margin-bottom:auto;
 }
.resume-body h2{
   line-height:40px;
   font-size:4vw;} 
      
.resume-body h3,
.resume-body h4,
.resume-body h5{
  line-height:20px;
  font-size:11px;}
  
.resume-body p{
   color:#777;
   font-size:14px;
   line-height:20px;}
   }

