@charset "utf-8";
/* CSS Document */


@media (min-width:1200px){
.resume-body{
  width: 70vw !important;
   padding-left:0;
   padding-right:0;
}
#box-resume-name{
  height:150px;
   }}
@media (min-width:940px)and (max-width:1199px){
.resume-body{
width:85vw !important;
}}
@media (min-width:768px)and (max-width:939px){
.resume-body{
width:90vw !important;
}}
@media (min-width:0px) and (max-width:767px){
.resume-body{
   width:96vw !important;}
.resume-body > .box {
   padding:15px;
}}
   
   

.xs-4-mod{
   width: 30.71%;}
#resume-name{
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}
#box-resume-name  h4{
  font-size:16px;
  position:relative;
  display:block;
  margin-top:auto;
  margin-bottom:auto;}


.resume-body h1,
.resume-body h2,
.resume-body h3,
.resume-body h4,
.resume-body h5,
.resume-body p{
  font-family:gotham light;}  
  
.resume-body h1,
.resume-body h2,
.resume-body h3{
   color:#555;
   text-transform:uppercase; }
.resume-body h4{
   color:#777; }
.resume-body h5{
   color:#777; }

.resume-body h1{
  position:relative;}
.resume-body h2{
  margin-top:0px;
  margin-bottom:1px;}
.resume-body h3{
  margin-top:0px;
  margin-bottom:1px;}
.resume-body h4{
  margin-top:0px;
  margin-bottom:2.5px;}
.resume-body h5{
  margin-top:0px;
  margin-bottom:2.5px;}
.resume-body p{
   margin-top:5px;
   margin-bottom:15px}




@media (min-width:1200px){
.resume-body h1{
   line-height:66px;
   font-size:60px;}

.resume-body h2{
   line-height:40px;
   font-size:38px;}

.resume-body h3{
     font-size:24px;}

.resume-body h4,
.resume-body h5{
  line-height:20px;
  font-size:18px;}
  
.resume-body h5{
   font-style:italic}


.resume-body p{
    color:#777;
    font-size:14px;
    line-height:20px;
}

.resume-body > .box {
padding:10px;
}
}

@media (min-width:940px) and (max-width:1199px){
.resume-body h1{
   line-height:52px;
   font-size:48px;}
}
@media (min-width:768px) and (max-width:939px){
.resume-body h1{
   line-height:46px;
   font-size:42px;}
}
@media (min-width:0px) and (max-width:767px){
 .resume-body h1{
   line-height:46px;
   font-size:25px;} }


@media (min-width:768px) and (max-width:1199px){


.resume-body h2{
   line-height:40px;
   font-size:24px;} 
   
.resume-body h3,
.resume-body h4,
.resume-body h5{
  line-height:20px;
  font-size:12px;}
  
.resume-body h5{
   font-style:italic}
   
.resume-body p{
    color:#777;
    font-size:14px;
    line-height:20px;}

.resume-body > .box {
padding:10px;
}}

@media (min-width:0px) and (max-width:767px){


#resume-contact-box h4{
font-size:3.2vw;
margin-top:4px;
margin-bottom:4px;
margin-left:-1%;
margin-right:-1%;
}
#resume-contact-box h2{
margin-left:-6px;
line-height:100%;
}
.thin-shifter{width:2%;	}

.resume-body h1{
   position:relative;
   display:block;
   font-size:7vw;
   line-height:100%;
   margin-top:auto;
   margin-bottom:auto;
 }
.resume-body h2{
   line-height:40px;
   font-size:4vw;} 
      
.resume-body h3,
.resume-body h4,
.resume-body h5{
  line-height:20px;
  font-size:11px;}
  
.resume-body p{
   color:#777;
   font-size:14px;
   line-height:20px;
 }
 }



.resume-cat-head{
  display:block;
  margin-top:10px;
  margin-bottom:10px;
  height:auto;
}
.resume-cat-img{
  margin-top:auto !important;
  margin-bottom:auto !important;
}
.resume-cat-head h2{
  position:relative;
  display:inline-block;
  vertical-align:bottom;
  margin-bottom:10px;

}

@media (min-width:1200px){
.cat-box{
padding-top:25px;
padding-left:30px;
}
.resume-cat-head{
  margin-left:10px;
}
.resume-cat-img{
   width:100px;
}
#experience-img{
  
}
.resume-cat-head h2{
  margin-left:10px;
}

}

@media (min-width:768px) and (max-width:1199px){

.resume-cat-head{
     height:auto;}
.resume-cat-img{
   width:90px;
}
.resume-cat-head h2{
  margin-left:10px;
    font-size:32px;
}}

@media (min-width:0px) and (max-width:767px){
.resume-cat-head{  height:auto}
.resume-cat-img{
   width:75px;
}
.resume-cat-head h2{
  margin-left:10px;
  font-size:28px;
}}
