@charset "utf-8";
/* CSS Document */

/* #68A2CF

*/

@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,300,400,500);
@font-face {font-family: Gotham Light; src: url('../fonts/Gotham-Light.otf') format('opentype'); }
@font-face {font-family: Gotham Book; src: url('../fonts/Gotham-Book.otf') format('opentype');}
@font-face {font-family: Gotham Medium; src: url('../fonts/Gotham-Medium.otf') format('opentype'); }  


h1, h2, h3, h4 {
	font-family: Gotham Book, arial;
}

h1{
	font-family: Gotham Book;
	font-size:20px;
}

a, p{
	font-family: 'Work Sans', arial;
}

body {
  	background-color: #F0F0F0;
}


/* ----------- Navigation Styles -------------*/


@media (min-width: 768px) {
.navbar-position{
height:76px;
} 

}
  
@media (max-width: 768px) {
  .nav > li > a {
     background-color: #fff!important;
     }
   .nav > li .layer {
    display:none;
   }
  .nav > li .drop-layer {
   display:none;}
}
 
 
 
/*---------- Navbar Li a's ------------------*/ 

.nav > li {
  position: relative;
  display:block;
  text-align:center;

}

.nav > li > a {
 position: relative;
 z-index: 3;
 min-height: 70px;
 display: block;
 color: #999;
 font-size: 18px;
 font-weight: 300;
 background-color: transparent;
 border-left: none;
 border-right: none;
 border-bottom: none;
 border-top: none;
 transition: .1s ease-in background-color, .1s ease-in height, .08s ease-in width, .2s ease-in color;
 transition-delay:.1s;
}
.nav > li > a:hover { }

.nav .open a,  .nav .open > a:hover,  .nav .open > a:focus{
 text-decoration: none;

 z-index: 1999;
 transition: .1s ease-in background-color, .08s ease-in width, .08s ease-in padding, .08s ease-in height;
}

.navbar-nav .active a{
   z-index:1000;
   color:#6890CF;
   margin-left:0px !important;
     border-left: none;
     border-right: none;
     border-top: none;
    border-bottom:4px solid #68A2CF;
	  transition:.3s ease-in color,.08s ease-in background-color, .05s ease-in width, .2s ease-out padding;
}	



/* --- (Large Screen Only) Navbar  buttons ---*/
@media (min-width: 768px) {
 #container-nav-btns{
padding:0 !important; 
 
}
 #defaultNavbar1{
 position: relative;
 }

.nav > li {
  width:25vw;
}
.navbar-nav {
 position:absolute;
 margin: 0;
 width: 100vw
}
  .navbar-nav > li {
    float: left;  
    overflow:hidden;
 }	
    
  .navbar-nav > li > a {
	padding-top: 29.5px;
	padding-bottom: 29.5px;
    height:76px;} 
    
 .nav > li .layer {
  color: #fff;
  position: absolute;
  top: 76px;
  height:76px;
  width: 100%;
  left: 0;
  padding: 29px 0;
  background-color: #68A2CF;
  transition: all .3s ease;  -webkit-transition: all .3s ease;  -moz-transition: all 0.3s ease;  -o-transition: all 0.3s ease;  -ms-transition: all 0.3s ease;
  transition-delay:.2s;
}
.nav > li:hover .layer {
  top: 0;
  transition: all .3s ease;  -webkit-transition: all .3s ease;  -moz-transition: all 0.3s ease;  -o-transition: all 0.3s ease;  -ms-transition: all 0.3s ease
}
.nav > li:hover a{
  background-color:transparent;
  color:#fff;
  transition: .2s ease-in color;
}




    
   /*Navbar Dropdown Menu Button: Open & Open + Hover*/

 #click-slide{
   display:block;
    z-index:3;
    width:25vw;
  }

 #drop{
    width:25vw;
    text-align:center;
}

.down{
  color:#fff!important;
}

.down-blue{
  background-color:#68A2CF !important;
} 

.drop-layer{
  color: #fff;
  position: absolute;
  display:inline;
  z-index:-100;
  top: -76px;
  height:74px;
  width: 100%;
  left: 0;
  padding: 29px 0;
  background-color: #68A2CF;}    
    
.nav > .no-hov:hover .layer {
  display:none !important;
}
    

.nav .open > a,  .nav .open > a:hover,  .nav .open > a:focus{

  }  
    
 .navbar-position{
  top:0px;
  transition:.08s ease-in all;

}  }
	
/* --- (Small Screen Only) Navbar  Collapse & Expand buttons ---*/
@media (max-width: 767px){
.navbar-nav {
  margin: 0 0px;
}
.navbar-nav > li > a {
  min-height:initial;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 21px;
  margin-right:0px;
  margin-left:0px;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a :focus,
.navbar-nav > li > a:active {
background-color:#68A2CF!important;
color:#fff
}
.navbar-nav .active a{
  background-color:#fff;
}

.navbar-nav .dropdown-menu {
    display: none !important;
    top: 0px;
    background-color:#F0F0F0 !important;
    z-index:2000 !important; 

}
   
.navbar-nav .open > .dropdown-menu > li > a { 
   display:block;  
    background-color:#FFF !important;  
    z-index:1049 !important; 
    margin-right:0;
    margin-left:0;

}
.navbar-nav .open > .dropdown-menu > li > a:hover { 
    background-color:#68A2CF !important;  
}
.navbar-nav .open > .dropdown-menu {
    display: block !important;
    margin-left:0px;
    margin-right:0;
    z-index:1049 !important; 
        
}
.dropdown-toggle {
    display: block !important;
        z-index:1049 !important; 
}

#click-slide{
    z-index:1049;
  }

}

/*--- Dropdown navbar --*/


.dropdown-menu {
 width: 25vw;
 position: absolute;
 top: -125px;
 text-align: center;
 z-index: 2000;
 display: block;
 float: left;
 min-height: 104px;
 list-style: none;
 font-size: 12px;
 background-color: transparent;
 border-left: none;
 border-right: none;
 border-bottom: none;
 border-top: 1px solid #ccc;
 -webkit-background-clip: padding-box;
 background-clip: padding-box;
 padding-top: 0px;
 padding-right: 0px;
 padding-bottom: 0px;
 padding-left: 0px;

}

.dropdown-menu > li > a {
 margin-right:0;
 margin-left:0;
 display: block;
 padding-top: 8.6px;
 padding-bottom: 8.6px;
 clear: both;
 font-family:gotham light !important;
 font-size: 15px !important;
 line-height: 1.5;
 color: #777 !important;
 white-space: nowrap;
 border-left: none !important;
 border-right: none  !important;
 border-bottom: 1px solid rgba(151,151,151,0.18) !important;
 border-top: 0 !important;
 background-color: #F0F0F0 !important;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:active {
  text-decoration: none;
  color: #fff !important;
  background-color: #68A2CF !important;
   border-bottom: 1px solid #fff !important;
}

/*--active dropdown list item --*/

.dropdown-menu > li > a{
	font-family:gotham light !important;
	font-size:14px;
	}
.dropdown-menu > .item-active > a{
  color:#555 !important;
  text-decoration:underline;
  font-style:bold;
  font-family:gotham book !important;
 border-left: 1px solid #68A2CF !important;
 border-right: 1px solid #68A2CF  !important;
  }






.row-grid1{
  margin-top:3%;
}

.row-grid1 .col-md-8,
.row-grid1 .col-md-4{
  margin-left:5%;
  margin-bottom:2%;
  background-color:#fff;
  min-height:100px;
  border-bottom:solid 2px #E0E0E0;
  border-left:solid 1.5px #E0E0E0;
  border-radius:2px;
}

.row-grid1 .col-md-8 h1,
.row-grid1 .col-md-4 h1{
text-transform:none;
font-size:22px;
color:#fff;
margin-top:0px;
margin-bottom:10px;
margin-left:-5px;
margin-right:-5px;
padding-top:10px;
padding-bottom:10px;
padding-left:10px;
background-color:#B3B3B3;
border-bottom:solid 1.5px #999;
border-left:solid 1px #999;
  border-radius:2px 2px 0 0;
}

@media (max-width: 939px){
.row-grid1 .col-md-8,
.row-grid1 .col-md-4{
  margin-left:2%;
  margin-right:2%;
  margin-bottom:2%;
  background-color:#fff;
}
}




/* -----------  Universal Body Attributes -------------*/

.spacer-md{height:50px;}

.spacer-lg{height:75px;}

.bdr{border:1px solid #ccc;}
.bdr-lt{border:1px solid #ddd;}
.bdr-lt-b{border-bottom:1px solid #ddd;}

.bgd-w{background-color:#F9F9F9;}

.mrgn {margin-bottom:10px;}

.no-pad{padding:0}

.thin-shifter{width:5%;	padding:0;}
@media (max-width: 767px){
.shifter{
display:none !important;
}}

/* -----------  PLACES Body Section 1 -------------*/


#map-container{ position:absolute; width: 100vw !important; z-index:-100; height:100vh; margin-top:-76px; padding-top:76px; overflow:hidden !important;}

.sec1a, .sec1b, .sec1c{
position:relative;
display:block;
z-index:-100;
height:100%;

}

@media (max-width:767px){
.row-sec1{
  background-color: #C5C5C5;
}   
   }
