@charset "utf-8";
/* CSS Document */

@font-face {font-family: Gotham Light; src: url('../fonts/Gotham-Light.otf') format('opentype'); }
@font-face {font-family: Gotham Book; src: url('../fonts/Gotham-Book.otf') format('opentype');}
@font-face {font-family: Gotham Medium; src: url('../fonts/Gotham-Medium.otf') format('opentype'); }  
 
h1, h2, h3, h4, p, a{
	font-family: Gotham Book;
}

h1{
	font-family: Gotham Medium;
	text-transform:uppercase;
	font-size:20px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes wiggle { 0% {-webkit-transform: rotate(0deg);}
                            25% {-webkit-transform: rotate(20deg);}
							75% {-webkit-transform: rotate(-20deg);}}

/* Standard */
@keyframes wiggle { 0% {transform: rotate(0deg);}
                   25% {transform: rotate(20deg);}
				   75% {transform: rotate(-20deg);}}



/* ----------- Navigation Styles -------------*/

#navbar-button-position{
	margin-left:.5vw !important;
}

.navbar-brand {		
    position:relative;
    z-index: 800;
	float: left;
	  width:150px;
	  text-align:center;
    font-size: 32px;
	font-family:gotham thin;
	font-weight:300;
	color:#fff;
    max-height:84px;
	text-decoration: none;
	text-transform:uppercase;
	  padding-top: 24px;
	  padding-bottom: 20px;	  
	     border-right: solid .5px #6B93B7;
	  background-color: #7B9FBF;
    transition:.5s ease-in background-color, .08s ease-in width, .08s ease-in height}

.navbar-brand img{
  width:50%;
  transition:.2s ease-in width;
  margin-left:auto;
  margin-right:auto;
}
	
.navbar-brand:hover #wiggle{	
    width:52%;
	transition:.2s ease-in width;
	-webkit-animation: wiggle 1s 1; /* Chrome, Safari, Opera */
    animation: wiggle .5s 1;
}

.navbar-brand > img {
  display: block;}


  
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,  .navbar > .container-fluid .navbar-brand {
    margin-left: -5px;
  } 
  }
  
@media (max-width: 768px) {
  .navbar-brand{
	  max-height:79px;
  }

  .navbar-brand img{
  width:42%;
  transition:.2s ease-in width;
  margin-left:auto;
  margin-right:auto;}
  
  .navbar-brand:hover #wiggle{	
    width:45%;}
}

.navbar-position{
	top:0px;
	background-color:#7B9FBF;
    transition:.08s ease-in all;
}

#defaultNavbar1{
}
  
.nav > li {
  position: relative;
  display:block;
  	overflow:hidden;
}

.nav > li > a {
  position: relative;
  min-height:84px;
  display: block;
  padding-left: 3vw;
  padding-right: 3vw;
  color:#FFFFFF;
  font-size:16px;
  background-color:#7B9FBF;
	 border-left:solid .5px transparent;
     border-right:solid .5px #6B93B7;
  border-bottom:solid 0px #7B9FBF;
  border-top:solid 0px #7B9FBF;
  transition:.08s ease-in background-color, .08s ease-in width, .05s ease-in height ;
}

.nav > li > a:hover,  .nav .open a,  .nav .open > a:hover,  .nav .open > a:focus{
	text-decoration: none;
	background-color: #9EBBD3;
	z-index: 1000;
	border-radius:0px;
	border-left: solid .5px transparent;
	border-right: solid .5px #6B93B7;
	border-bottom: solid 2px #7B9FBF;
	border-top:solid 0px #7B9FBF;
    transition:.05s ease-in background-color, .08s ease-in width, .08s ease-in height; 
	padding-left: 3vw;
    padding-right: 3vw;

}

.nav > li > a:hover:before {
  content: " ";
  position: absolute;
  z-index: 1999;
  top: 0px;
  left:-.5px;
  right: -.5px !important;
  bottom: -2px !important;
  border-bottom: 2px solid #7B9FBF;
}

.navbar-nav .active a{
	background-color: #85A9C7;
	 border-left:solid .5px #6B93B7;
     border-right:solid .5px #6B93B7;
     border-bottom:solid 0px #85A9C7;
	 border-top:solid 0px #85A9C7;
	 transition:.08s ease-in background-color, .08s ease-in width, .08s ease-in height;
}
	


@media (min-width: 768px) {
/* --- (Large Screen) Navbar  buttons ---*/
  .navbar-nav {
    float: left;
    margin: 0; }
  .navbar-nav > li {
    float: left; }	
  .navbar-nav > li > a {
	padding-top: 33.5px;
	padding-bottom: 29.5px;
} 
  .nav > li > a:hover,  .nav .open > a,  .nav .open > a:hover,  .nav .open > a:focus{
	padding-top: 32.5px;
    padding-bottom: 28.5px; 

	
	}}
	
@media (max-width: 767px){
/* --- (Small screen) Navbar dropdown buttons ---*/
.navbar-nav {
  margin: 0 -5px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 21px;
}}

/*--active dropdown list item --*/
.dropdown-menu > li{
	margin-top:10px
}
.dropdown-menu > li > a{
	font-family:gotham light !important;
	font-size:16px;
	}
.dropdown-menu > .item-active > a{
  color:#7B9FBF;
  border-bottom:solid 1px #7B9FBF !important;
  border-top:solid 1px #7B9FBF !important;
  font-family:gotham book !important;
  }






.row-grid1{
  margin-top:3%;
}

.row-grid1 .col-md-8,
.row-grid1 .col-md-4{
  margin-left:5%;
  margin-bottom:2%;
  background-color:#fff;
  min-height:100px;
  border-bottom:solid 2px #E0E0E0;
  border-left:solid 1.5px #E0E0E0;
  border-radius:2px;
}

.row-grid1 .col-md-8 h1,
.row-grid1 .col-md-4 h1{
text-transform:none;
font-size:22px;
color:#fff;
margin-top:0px;
margin-bottom:10px;
margin-left:-5px;
margin-right:-5px;
padding-top:10px;
padding-bottom:10px;
padding-left:10px;
background-color:#B3B3B3;
border-bottom:solid 1.5px #999;
border-left:solid 1px #999;
  border-radius:2px 2px 0 0;
}

@media (max-width: 939px){
.row-grid1 .col-md-8,
.row-grid1 .col-md-4{
  margin-left:2%;
  margin-right:2%;
  margin-bottom:2%;
  background-color:#fff;
}
}




/* -----------  HOME Body Section 1 -------------*/

.row-home{
	padding:10px;
}

.l-g{
background-color:#F5F5F5; 
box-shadow:0px 1px 1px 0px #909090;
 }

#container-body1{
  margin-top: 0px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.col-nametag-test{
    background-image: url(/img/Paper-004.png);
    background-size:200px 200px;
    background-repeat:  repeat;
   }


#col-nametag{
  padding-top:3vw;
  padding-bottom:5vw;
  min-height:20vw;
  padding-left:0;
  padding-right:0;
  background-color:#FFFFFF;
    box-shadow:0px 1px 1px 0px #909090;
}


#name {
   display:inline-block;
   bottom:0;
   text-align:left;
   width:61% !important;
}

#name h1{
	text-transform:none;
	font-family:gotham light;
    font-size:2.6vw;
    color:#7B9FBF;
    margin-top:2vw;
	margin-bottom:.5vw;
    text-shadow: .5px .5px 0px #666666 !important;
}
#name h2{
	text-transform:none;
	font-family:gotham book;
    font-size:1vw;
    color:#777777;
    margin-top:0;
    margin-bottom:.5vw;
	margin-left:.8vw;
}

#col-contact h3{
	text-transform:none;
	font-family:gotham book;
    font-size:1vw;
    color:#777777;
    margin-top:2vw;
}

#col-contact{
	position:absolute;
	bottom:0px !important;
	margin-bottom:1%;
}

#phone{
	text-align:right;
	margin-right:1%;
}

#email{
	margin-left:1%;
}

#col-HS{
	position:relative;
    width:15vw !important;
	margin-left:1vw;
}


.HS{
	position:relative;
	display:block;
	height:10vw;
	width:10vw;
	margin-left:auto !important;
	margin-right:auto !important;
	box-shadow:0px 1px 1px 0px #888888;
}
.HS2{
	position:relative;
	display:block;
	opacity:1;
	height:10vw;
	width:10vw;
	margin-left:auto !important;
	margin-right:auto !important;
	margin-top:-10vw;
	border:2px solid #7B9FBF;
	transition:.5s ease-in opacity;
}

.HS-hov{
	position:relative;
	display:block;
	height:10vw;
	width:10vw;
	margin-left:auto !important;
	margin-right:auto !important;
}

.HS-hov:hover .HS2{
	position:relative;
	opacity:0;
	transition:.7s ease-in opacity;
	}
	
@media (max-width: 1199px) and (min-width:940px){
#col-nametag{
  padding-top:3vw;
  padding-bottom:5vw;
}
}
	
@media (max-width: 939px){
   
#col-nametag{
  padding-top:3.5vw;
  padding-bottom:5vw;
  min-height:40vw;
  margin-left:5vw;
  margin-right:5vw;}
  
.HS, .HS2, .HS-hov{
	height:25vw;
	width:25vw;}
	
.HS2{
	margin-top:-25vw;}
	
#col-HS{
    width:32vw !important;
	margin-left:1vw;}

#name {
    width:60% !important;}

#name h1{
    font-size:7vw;}

#name h2{
    font-size:3.5vw;
    margin-top:0;
    margin-bottom:.5vw;
	margin-left:2vw;}

#col-contact h3{
    font-size:3vw;
	margin-left:.2vw;}
	
#phone{
	margin-left:0 !important;
	margin-right:-1px;}
}

@media (max-width: 768px){
#col-nametag{
  padding-top:5vw;
  padding-bottom:5vw;
  height:45vw;
	margin-left:0;
	margin-right:0;}

#name {
    width:62% !important;}

#name h1{
    font-size:7.5vw;}

#col-HS{
    width:30vw !important;
	margin-left:1vw;}

#col-contact{}
	
#col-contact h3{
    font-size:3vw;
    margin-top:0vw;
	margin-left:0vw;
	margin-bottom:0px;}
}

@media (max-width: 310px){
#col-nametag{
	padding-top:3vw;
	padding-bottom:5vw;
	min-height:50vw;
	margin-left:-1vw;
	margin-right:-1vw;}
}

/* -----------  PLACES Body Section 1 -------------*/

.row-sec1{
	background-color: #C5C5C5;
}

.sec1a, .sec1b, .sec1c{
height:88vh;
}
