@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara:300|Muli:200,300,400);

*, *:before, *:after {font-family:'Muli', sans-serif; box-sizing: border-box !important;}
*:focus{outline:1px dashed rgba(0,0,0,0.3) !important; outline-offset: 4px !important;}

/* ----------------------------------- */
/* ------ Universal Text Styles ------ */
/* ----------------------------------- */

h1, h2, h3, h4, p, a, li{margin:0; padding:0; line-height:130%;}
h2, h3{margin:5px 0 0 0}
h4, p, a{margin:3px 0 0 0}
h1, h2, h3, h3 a, h4 {color:#444}
p, a, li{color:#777;}
a:hover{text-decoration:underline; color:#7597ce !important}
a:focus{text-decoration:underline; color:#7597ce !important; transition:.3s ease all;}

h1, h2, h3, h4, b, h1>a, h2>a, h3>a, h4>a { font-weight:300}
p, a, li{font-weight:200;}

h1{font-size:38px}
h2{font-size:30px}
h3, h3 a{font-size:18px}
h4{font-size:15px}
p{font-size:14px;}
a{font-size:15px;}

@media(max-width:767px){
  h1{font-size:36px}
  h2{font-size:28px}
  h3, h3 a{font-size:16px}
  h4{font-size:13px}
  p, li, a{font-size:13px;}
}

.hidden{display:none;}

/* ----------------------------------- */
/* ------- General Body Styles ------- */
/* ----------------------------------- */

body{
  width:100vw;
  background:#fcfcfc;
  overflow-x:hidden;
}

.container-body {
  min-height:100vh !important;
  padding: 45px 4vw 15px 4vw;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-h {
  padding: 45px 0 7.5px 0;
  margin: 0 7.5px 7.5px 7.5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05)
}

.col-t {
  padding: 45px 0 7.5px 0;
  margin: 0 7.5px 5px 7.5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05)
}

.col-a,
.col-b,
.col-c,
.col-d {
  padding: 5px 10px 15px 10px;
}

.col-p {
  padding: 25px 10px 15px 10px;
}

.col-a,
.col-b,
.col-c,
.col-p {
  flex-basis: 50%;
}

.col-d {
  flex-basis: 100%;
}

.box-a,
.box-b,
.box-c,
.box-d,
.box-p {
  max-width: 80%;
}

.box-a h3,
.box-b h3,
.box-d h3,
.box-p h3,
.box-a h4,
.box-b h4,
.box-d h4,
.box-p h4 {
  margin: 4px 0 2.5px 0;
}

.box-c h4 {
  display: inline-block;
  width: 75px;
}

.box-c a {
  display:inline-block;
}

.box-d h4 {
  font-style:italic;
}

@media (max-width: 1299px) {
  .container-body {
    width: 90vw;
  }
}

@media (max-width: 767px) {
  body {
    background: #fff;
  }
  .container-body {
    padding:22.5px 3.1vw 45px 3vw;
    box-shadow: none;
  }
  .col-h {
    padding-top: 30px;
  }
  .col-a,
  .col-b,
  .col-c,
  .col-p {
    min-width: initial;
    flex-basis: 100%;
  }
  .box-a,
  .box-b,
  .box-c,
  .box-d,
  .box-p {
    max-width: initial;
  }
  .box-c h4 {
    display: inline-block;
    width: 60px;
  }
}



/* ----------------------------------- */
/* -------- Navigation Styles -------- */
/* ----------------------------------- */

.skip-nav{
  position:absolute;
  top:-50px;
  padding:15px 7.5px 5px 7.5px;
  font-weight:400;
  font-size:16px;
  color:#fff;
  background: #666;
  border-radius:0px 0px 5px 5px;
    transition:.4s ease all;
}

.skip-nav:focus{
  position:absolute;
  top:-15px;
  color:#fff !important;
    transition:.4s ease all;
}

#nav-a ul{
  float:right;
  padding:0;
}

#nav-a ul li{
   display:inline-block;
   list-style:none;
}

#nav-a ul li a{
   display:inline-block;
   /*min-width:76px;*/
   margin:0 5px;
   padding:5px 10px;
   list-style:none;
   color:#767676;
   text-align:center;
   line-height:18px;
   border:1px solid rgba(0, 0, 0, 0.1);
   border-radius:2px;
   transition:.2s ease all;
}

#nav-a ul li a i{
  margin-bottom:-1px;
  color:#999;
  font-size:18px; 
  line-height:100%; 
  vertical-align:bottom;
    transition:.2s ease all;
}

#nav-a ul li a.active{
   text-decoration:none;
   color:#444 !important;
   font-weight:300;
   border:1px solid rgba(0, 0, 0, 0.35);
   /*background:#fcfcfc;*/
}

#nav-a ul li a:hover,
#nav-a ul li a:focus{
   text-decoration:none;
   color:#444 !important;
   border:1px solid rgba(0, 0, 0, 0.35);
     transition:.2s ease all;
}

#nav-a ul li a:hover i,
#nav-a ul li a:focus i,
#nav-a ul li a.active i{
   color:#555 !important;
     transition:.2s ease all;
}


/* ----------------------------------- */
/* ------ Specific to Home Page ------ */
/* ----------------------------------- */

.col-home-main {
  padding-top:20vh;
}

.box-home-main {
  width:400px;
  margin:0 auto;
}

.box-home-main img{
  display:block;
  width:120px;
  margin:15px auto;
  border-radius:2px;
  box-shadow:0 0 2px 0 rgba(0,0,0,0.2);
}

.box-home-main h1{
  font-size:44px;
  display:block;
  margin:5px auto;
  text-align:center;
}

.box-home-main p{
  display:block;
  font-size:20px;
  text-align:center;
}

@media (max-width: 767px) {
  .box-home-main {
    width:100%;
    max-width:320px;
  }
  
  .box-home-main img{
    width:110px;
  }
  
  .box-home-main h1{
    font-size:32px;
    display:block;
    margin:5px auto;
    text-align:center;
  }
  
  .box-home-main p{
    display:block;
    font-size:16px;
    text-align:center;
  }

}


/* ----------------------------------- */
/* ------- Specific to Resume  ------- */
/* ----------------------------------- */

#name{
  display:inline;
  float:left;
}


/* ----------------------------------- */
/* ------ Specific to Portfolio ------ */
/* ----------------------------------- */


.btn-box-img {
  display: inline-block;
  width:100%;
  height:200px;
  overflow:hidden;
  box-shadow:0 0 1px 0 rgba(0,0,0,0.2);
}

.btn-box-img:hover {
    box-shadow:0 0 2px 0 rgba(0,0,0,0.3);
}

.btn-box-img img {
  margin-top:0;
  width:100%;
  height:auto;
}

/* ------ Modal Styles ------ */

.modal-port h4, 
.modal-port p,
.modal-port li {
  color:#000 !important;
 }

.modal-port p {
  margin:5px 0;
 }

.modal-port ul{
  list-style: circle;
  padding-left:25px;
 }

.modal-port li {
  margin:5px 0;
 }

.modal-port .modal-content{
  border-radius: 2px !important;
}

.modal-port .modal-header{
  background:#fafafa;
  padding:15px 15px 7.5px 15px;
 }
 
.modal-port .modal-header h4{
  font-size:20px;
  font-weight:400;
 }
 
.modal-port .modal-body{
    padding:0;
 }
 
 .modal-port .modal-body img{
    width:100%;
 }

.modal-port .modal-footer p{
  text-align:left;
 }
 
 @media (min-width: 768px) {
  .modal-port .modal-dialog {
    width: 80vw;
    margin: 30px auto;
  }
  
  .modal-port .modal-header h4{
   font-size:16px;
   font-weight:400;
  }
}

 @media (max-width: 767px) {
  .modal-port .modal-header h4{
   font-size:16px;
   font-weight:400;
  }
}