/* CSS Document */


*{
}

*:focus{
}

.mobile-only{display:none !important;}
.desktop-only{display:flex;}



/* ------------------------------------- */
/* --------- Main Text Styles ---------- */
/* ------------------------------------- */

h1,h2,h3,h4,p,a{

}

h1,h2,h3,h4{

}

p{

}

h1{

}

h2{

}

h3{

}

h4{

}

p{

}

a{

}

a:hover,
a:focus{

}

a:hover p,
a:focus p{

}



/* ------------------------------------- */
/* ------- Portfolio Containers -------- */
/* ------------------------------------- */

.col-portfolio{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-between;
  gap:30px 30px;
  flex-basis:100%;
}

.box-portfolio{
  flex-basis:calc(50% - 15px);
  height:400px;
  background-color:transparent;
  background-image:url();
  background-size:cover;
  background-repeat: no-repeat;
  background-position: top;
}


@media(max-width:1199px){

}


@media(max-width:991px){

}


@media(max-width:861px){

}


@media(max-width:460px){

}


