/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Work+Sans:wght@400;500;700&display=swap');


*{
  box-sizing:border-box !important;
  font-family:"Open Sans", Helvetica, Arial, "sans-serif";
  text-size-adjust: none !important;
}

*:focus{
  outline:1px dashed #eee;
  outline-offset:2px;}

h1,h2,h3,h4,p,a{
  color:#222;
}

h1,h2,h3,h4{
  line-height:100%;
}

p{
  line-height:160%;
}

h1{
  font-size:42px;
  font-weight:400;
  margin:0 0 10px 0;
}

h2{
  font-size:24px;
  font-weight:600;
  margin:0 0 20px 0;
  text-transform:uppercase;
}

h3{
  font-size:16px;
  font-weight:600;
  margin:20px 0 10px 0;
}

h4{
  font-size:16px;
  font-weight:400;
  margin:5px 0 10px 0;
}

p{
  font-size:16px;
  font-weight:300;
  margin:5px 0 0 0;
}

a{
  text-decoration:none;
}

a:hover,
a:focus{
  color:#1951C3;
  text-decoration:underline;
  transition:.2s linear all;
}

.a-expander:hover,
.a-expander:focus{
  color:#333;
  text-decoration:none;
}





.container-main{
  position:relative;
  display:block;
  max-width:1200px;
  margin:0 auto;
  padding:0 15px;
}

.row-flex{
  display:flex;
  flex-wrap: wrap;
  gap:45px;
  justify-content:flex-start;
}


.col-head{
  flex-basis:calc(100% - 45px);
  flex-shrink:0; 
  flex-grow:1;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  height:125px;
    transition:.5s ease all;
}

.col-head p{
  font-size:20px;
}

.col-left{
  flex-basis:calc(25% - 46px);
  flex-shrink:1;
  display:flex;
  flex-direction:column;
  overflow-x:hidden;
    transition:.5s ease all;
}


.col-right{
  flex-basis:calc(75% - 46px);
  flex-shrink:1;
  display:flex;
  flex-direction:column;
  overflow-x:hidden;
    transition:.5s ease all;
}


.box-section-main{
  width:100%;
  margin:0 0 45px 0;
}

#box-section-education{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  flex-wrap:wrap;
  gap:0 45px;
}
#box-section-education h2{
  flex-basis:100%;
  margin-bottom: 0;
}
#box-section-education div{
  flex-basis:calc(50% - 45px);
}
#box-section-education div p{
  margin-top:0px;
}
#box-section-publications p{
  margin-top:15px;
}

.wrapper-expander {
  display:block;
}


/* Divider Lines for Separating Rows & Cols */
.divider {position:relative;background:#555;}
#divider-row-1{position:relative; flex-basis:calc(100% - 45px); flex-grow:1; height:2px;}
#divider-col-1{position:relative; flex-basis:2px; width:2px;}





@media(max-width:1199px){
  .col-left{
    flex-basis:calc(30% - 46px);
  }

  .col-right{
    flex-basis:calc(70% - 46px);
  }
}

@media(max-width:991px){
  .col-left{
    flex-basis:calc(35% - 46px);
      transition:none !important;
  }
  .col-right{
    flex-basis:calc(65% - 46px);
      transition:none !important;
  }
}

@media(max-width:861px){
  h1{
    font-size:36px;
  }
  h2{

    font-size:22px;
  }
  h3{

    font-size:16px;
  }
  h4{
    font-size:16px;
  }
  p{
    font-size:16px;
  }
  .col-head p{
    font-size:18px;
  }
  .container-main{
    padding:0 15px;
  }
  .row-flex{
    gap:0px;
    justify-content:flex-start;
  }
  .col-head{
    margin:0 0 30px 0;
  }
  .col-left{
    flex-basis:calc(100% - 45px);
    flex-direction:column;
    flex-wrap: nowrap;
    flex-grow:1;
    gap:0px;
    justify-content:flex-start;
      transition:none !important;
  }
  .col-right{
    flex-basis:calc(100% - 45px);
    flex-grow:1;
      transition:none !important;
  }
  .box-section-main{
    margin:0 0 30px 0;
  }

  #box-section-skills{
    
  }
  #expander-contact i:after,
  #expander-skills i:after {
    content:"\e5cf";
    position:relative;
    display:inline-block;
    float:right;
    line-height:100%;
    font-family: 'Material Icons';
    font-size:20px;
    font-style:normal;
    margin:-2px 0 0 0px;
    color:#444;
    opacity:1;
      transition:.4s ease all;
  }
  #expander-contact.active i:after,
  #expander-skills.active i:after {
    transform:rotate(180deg);
      transition:.4s ease all;
  } 
  #wrapper-contact,
  #wrapper-skills {
      display:none;
    }
  
  .wrapper-expander {
    margin:0 0 !important;
    padding:1px 0 !important;
  }
  .wrapper-expander p:first-child {
    margin-top:0;
  }
  
  #box-section-education{
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    gap:0;
  }
  #box-section-education h2{
    flex-basis:100%;
  }
  #box-section-education div{
    flex-basis:auto;
  }
  #box-section-publications h2{
    letter-spacing:-1px;
  }
  #divider-row-1{
    margin:0 0 30px 0;
    height:1px;
  }  
  #divider-col-1{
    display:none;
  }
}


/*Styles for external link icon pseudoelements*/

.link-external p:after,
.link-external h4:after{
  content:"\e89e";
  position:absolute;
  display:inline-block;
  width:3px;
  height:3px;
  font-family: 'Material Icons';
  font-size:10px;
  margin:-2px 0 0 6px;
  opacity:.6;
}


.link-external:hover p:after,
.link-external:focus p:after,
.link-external:hover h4:after,
.link-external:focus h4:after{
  color:#1951C3;
  opacity:1;
  transition:.2s linear all;
}
