@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700&display=swap');
* {font-family: "Work Sans", sans-serif;}

/*------------------------------------*/
/*---- General Styles for Content ----*/
/*------------------------------------*/

* {font-family: "Work Sans", sans-serif;}

h1{font-size:22px; font-weight:400; margin:0px 0 5px 0;}
h2{font-size:28px; font-weight:500; margin:15px 0 5px 0;}
h3{font-size:20px; font-weight:600; margin:12.5px 0 5px 0;}
h4{font-size:16px; font-weight:600; margin:10px 0 5px 0;}
h5{font-size:12px; font-weight:600; margin:7.5px 0 5px 0;}
p{font-size:12px; font-weight:400; margin:5px 0 5px 0;}


/*------------------------------------------------*/
/*------------ Header / Intro Section ------------*/
/*------------------------------------------------*/

.col-header{
  padding:10px 30px 10px 30px;
  text-align:center;
  border:1px solid rgba(0,0,0,0.05);
  border-top:none;
  border-radius: 0px 0px 3px 3px;
  background-color:#fcfcfc;
}


/*------------------------------------------------*/
/*-------- Contrast Ratio Display Section --------*/
/*------------------------------------------------*/
.box-contrast-ratio{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-content:center;
  justify-content:center;
  height:200px;
  margin:7.5vh 0 0 0;
  color:#4a4a4a;
}

#contrast-label,
.contrast-val-text{
  flex-basis:100%;
  text-align:center;
  line-height:100%;
  padding:10px 0;
  margin:0;
}
#contrast-label{
  font-size:22px;
  font-weight:400;
}
.contrast-val-text{
  font-size:42px;
  font-weight:500;
}

  @media(max-width:767px){
    .box-contrast-ratio{
       height:120px;
       margin:5vh 0 2.5vh 0;
    }
  }


/*------------------------------------------------*/
/*---------- Pass / Fail Display Section ---------*/
/*------------------------------------------------*/
.box-pass-fail{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-content:center;
  justify-content:center;
  gap: 0px 30px;
  height:auto;
  margin:0 0 5vh 0;
  color:#4a4a4a;
}

.sub-box-pass-fail{
  flex-basis:170px;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  height:auto;
  margin:0 0 0 0;
  padding:15px 20px;
  border:1px solid rgba(0,0,0,0.1);
  border-radius:4px;
}

.pass-fail-label,
.pass-fail-sublabel,
.pass-fail-val{
  padding:0;
  color:#4a4a4a;
  font-size:18px;
  line-height:100%;
/*     border:1px solid rgba(0,0,0,0.1); */
}
.pass-fail-label{
  flex-basis:100%;
  margin:0 0 10px 0;
  text-align:center;
  font-weight:500;
}
.pass-fail-sublabel{
  flex-basis:50%;
  margin:3px 0 0 0;
  text-align:left;
  font-weight:400;
}
.pass-fail-val{
  flex-basis:50%;
  margin:3px 0 0 0;
  text-align:right;
  font-weight:700;
}

#normal-val-aa,
#large-val-aaa,
#large-val-aa{
  color:#008A17;
}
#normal-val-aaa{
  color:#EB0000;
}

@media(max-width:767px){
  .box-pass-fail{
    flex-wrap:nowrap;
    gap:0px 7.5px;
    margin:0 0 15px 0;
  }
  .sub-box-pass-fail{
    flex-basis:50%;
    max-width:170px;
    padding:10px 15px;
  }
  .pass-fail-label,
  .pass-fail-sublabel,
  .pass-fail-val{
    font-size:16px;
  }
}

/*------------------------------------------------*/
/*------- Color Input and Preview Sections -------*/
/*------------------------------------------------*/
.box-color-selector{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-content:center;
  justify-content:center;
  
}

/*--------- Text Input + Submit Button ---------*/
.form-hex{
  display:flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-basis:100%;
  gap: 0px 10px;
  margin:40px 0 0 0;
}

  @media(max-width:767px){
    .form-hex{
      margin:30px 0 0 0;
    }
  }

.input-text,
.color-submit,
.input-color-picker{
  position:relative;
  display:block;
  height:28px;
  line-height:28px;
  border-radius:3px;
}

.input-text{
  flex-basis:75%;
  text-transform:uppercase;
  border:1px solid rgba(0,0,0,0.2);
  padding:0 7.5px;
  font-size:15px;
  font-weight:400;
  color:#333333;
}
    .input-text:hover{
      border:1px solid rgba(0,0,0,0.3);
    }
    .input-text:focus{
      outline:1px dashed rgba(0,0,0,0.1) !important;
      outline-offset:3px;
      border:1px solid rgba(0,0,0,0.5);
    }
    .input-text::selection {
      background: #D9D9D9;
    }

.input-color-picker
/*,input[type="color"]*/{
  flex-basis:12%;
	-webkit-appearance: none;
  padding:1px;
  background:#ffffff;
	border:1px solid rgba(0,0,0,0.25);
  border-radius:3px;
  cursor: pointer;
}
    .input-color-picker::-webkit-color-swatch-wrapper,
    .input-color-picker::-webkit-color-swatch{
      padding: 0px;
      border-radius:3px;
      border:none;
      box-shadow:0 0 0px 1px rgba(0,0,0,0.2) inset;
    }
    .input-color-picker:hover{
      border:1px solid rgba(0,0,0,0.35);
      padding:3px;
      background:#f9f9f9;
    }
    .input-color-picker:focus{
      padding:3px;
      border:1px solid rgba(0,0,0,0.4);
      outline:1px dashed rgba(0,0,0,0.1) !important;
      outline-offset:3px;
      background:#f9f9f9;
    }
    .input-color-picker:focus::-webkit-color-swatch-wrapper,
    .input-color-picker:focus::-webkit-color-swatch
    .input-color-picker:hover::-webkit-color-swatch-wrapper,
    .input-color-picker:hover::-webkit-color-swatch{
      box-shadow:0 0 0px 1px rgba(0,0,0,0.3) inset;
    }


.color-submit{
  flex-basis:13%;  
  padding:0px 10px;
  text-align:center;
  font-size:13px;
  background:#fafafa;
  border:1px solid rgba(0,0,0,0.2);
  cursor:pointer;
}
    .color-submit:hover,
    .color-submit:focus{
      background:#f6f6f6;
      border:1px solid rgba(0,0,0,0.3);
      box-shadow:0 0 2px 1px rgba(0,0,0,0.1) inset;
    }
    .color-submit:focus{
      outline:1px dashed rgba(0,0,0,0.1) !important;
      outline-offset:3px;
    }


/*--------- Color Data Below Hex Submit Forms ---------*/
.box-values{
  flex-basis:100%;
}

.box-values:first-of-type{
  margin:10px 0 0 0;
}

.value-label,
.value-data {
  display:inline; 
}
.value-label {
  font-weight:600; 
}



/*--------- Colored Box Targeted for Bg Change ---------*/
.box-color-target{
  position:relative;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-content:center;
  justify-content:center;
  flex-basis:100%;
  /*width:20vw;*/
    min-width:300px;
  height:50vh;
    min-height:300px;
    max-height:500px;
  margin:15px 0 0 0;
  border:1px solid rgba(0,0,0,0.2);
  border-radius:4px;
}
    #box-color-target-a{
      color:#edfaee;
      background-color:#41759F;
    }
    #box-color-target-b{
      color:#41759F;
      background-color:#edfaee;
    }

  @media(max-width:767px){
    .box-color-target{
        min-width:initial;
      height:160px;
        min-height:initial;
        max-height:initial;
      margin:15px 0 0 0;
      border:1px solid rgba(0,0,0,0.2);
      border-radius:4px;
    }
  }

/*Container divs for sample text and hex color readouts for flex positioning*/
.box-text-sample{
  flex-basis:100%;
  margin:0;
}
.box-color-readout{
  flex-basis:40%;
  margin:25px 0 0 0;
}

.box-color-target h2, 
.box-color-target h3, 
.box-color-target p{
  width:100%;
  text-align:center;
}

.box-color-target h2{
  font-size:30px; 
  font-weight:600; 
  margin:0;
}

.box-color-target h3, 
.box-color-target p{
  font-size:16px;
}

.box-color-target h3{
  font-weight:600; 
  margin:0;
}
.box-color-target p{
  font-weight:400;
  margin:0;
}
